<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo List</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./script.js" defer></script>
  </head>
  <body>
    <div id="app">
      <h1
        class="title"
        :class="{red: checkedNum === 0, yellow: checkedNum < 1 && checkedNum >= 0.5, green: checkedNum === 1}"
      >
        Todo List
      </h1>
      <form class="create-task" @submit.prevent="addNewTask">
        <input
          type="text"
          placeholder="Input new task"
          v-model="writedTask"
        /><button class="custom-btn btn">add task</button>
      </form>
      <div class="tasks">
        <ul>
          <li v-for="(item, index) in items" :key="item.id" :title="item.title">
            <div class="task">
              <input type="checkbox" v-model="item.checked" />
              <label
                :class="{isChecked: item.checked}"
                @click="removeTask(index)"
                >{{item.id}} - {{ item.title }}</label
              >
            </div>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
